<%- include('partials/header') %>
<link rel="stylesheet" href="css/collections.css">
<div class="container-fluid">

</div>



<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/17.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/18.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/19.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


<div class="container-fluid" class="c1">
  <h1>
    Shop By Category
  </h1>
  
  <a href=""style="margin-left: 05%;" ><img src="img/24.png" href="#" alt="Avatar" style="width:200px; "></a>
  <a href=""><img src="img/25.png"  alt="Avatar" style="width:200px;  "></a>
  <a href="" style="margin-left: 3%;"><img src="img/26.png" href="#" alt="Avatar" style="width:200px;  "></a>
  <a href=""><img src="img/27.png"  alt="Avatar" style="width:200px;  "></a>
  <a href="" style="margin-left: 3%;"><img src="img/28.png" href="#" alt="Avatar" style="width:200px;  "></a>
  <a href=""><img src="img/29.png" alt="Avatar" style="width:200px;  "></a>
  
   </div>

   <div class="container-fluid" style="height:fit-content">  
<h1>Space</h1>
  </div> 
  
  
  
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/ha5/hc8/27144768487454/web_men-pg_Joggers-Men-Guide_20220225.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/he4/hb7/27256990564382/web_men_pg_titan-paid-banner_17-03-2022.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h88/h0c/27303487242270/web_hp_formal-shoes_office-reboot_20220324.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="container-fluid">
<img src="img/30.png" alt="image" style="width: 400px;height: 400px; margin-left: 15%;">
  </div>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-80">
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h84/h96/27236614176798/web_men_shorts-%26-bermudas_ss22-trends_20220314.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            
          </div>
  
        </div>
      </div>
      <div class="col">
        <div class="card h-80">
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h93/h9c/27236614307870/web_men_comfy-wear_ss22-trends_20220314.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-80">
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hd7/h95/27236614111262/web_men_black-%26-green_ss22-trends_20220314.jpg" class="card-img-top" alt="...">
          <div class="card-body">
           
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-80">
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h85/h3d/27236620271646/web_men_suits-%26-jackets_most-loved-person_20220314.jpg" class="card-img-top" alt="...">
          <div class="card-body">
           
          </div>
        </div>
      </div>
    </div>
      </div>
<%- include('partials/footer') %>
