<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    
    <title>Error</title>
</head>
<body>
    <div class="conatiner" style="justify-content:20%;">
    <div class="conatiner-fluid">
        <img src="./img/womens/free.png" style="max-width:100%;" class="img-fluid" alt="banner">
        <h1 style="margin-left:20%;font-size:70px;justify-content: center;margin-top: -29%;">Error 404 found</h1>
        </div>
    </div>

    
</body>
</html>