<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mens Fashion</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            Mens Fashion
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="" target="_self">Home</a>
          <a href="" target="_self">New Collections</a>
          <a href="" target="_self">Add Items</a>
          <a href="" target="_self">Today's deal</a>
          <a href="" target="_self">Profile</a>
        </div>
      </div>
</body>
</html>