<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Mens Fashion</title>
</head>
<body>
    <div class="vid-container">
        <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
            <source src="img/ad.mp4" type="video/webm">
        </video>
        <div class="inner-container">
         
          <div class="box">
            <h1>Login</h1>
            <form method="post" action="\login">
            <input type="text" placeholder="Username"/>
            <input type="text" placeholder="Password"/>
            <button href="\login"> Login</button>
          
          <button> <a href="register" style="text-decoration: none; color: whitesmoke;">Register</a></button> 
        </form>
          </div>
        </div>
      </div>
</body>
</html>