<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Mens Fashion</title>
</head>
<body>
    <div class="vid-container">
        <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
            <source src="img/ad.mp4" type="video/webm">
        </video>
        <div class="inner-container">
         
          <div class="box">
            <h1>Register</h1>
            <form action="/register" method="post">
            <input type="text" placeholder="Username" name="username"/>
            <input type="email" placeholder="email" name="email"/>
            <input type="password" placeholder="Password" name="password"/>
            <button type="submit">Signup</button>
            <button><a href="login" style="text-decoration: none; color: whitesmoke;">Admin</a></button>
        </form>
          </div>
        </div>
      </div>
</body>
</html>