<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Mens Fashion</title>
</head>
<body>
    <div class="vid-container">
        <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
            <source src="img/ad.mp4" type="video/webm">
        </video>
        <div class="inner-container">
         
          <div class="box">
            <h1>Register</h1>
            <input type="text" placeholder="Username"/>
            <input type="text" placeholder="Password"/>
            <button>Signup</button>
            <button>Admin</button>
          </div>
        </div>
      </div>
</body>
</html>